.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.number {
    background-color: rgb(52, 93, 160);
    height: 40px;
    width: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.rowGame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;   
}